{% assign benefit_title_text = site.data[page.language].texts | where:"name","benefit_title_text" %}
{% assign benefit_subtitle_text = site.data[page.language].texts | where:"name","benefit_subtitle_text" %}
<section data-scroll-index="2" id="benefits" class="demo-card pt-90 pb-100">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="section-title text-center pb-10">
          <h4 class="title">{{benefit_title_text.first.value}}</h4>
          <p class="text">
            {{benefit_subtitle_text.first.value}}
          </p>
        </div>
      </div>
    </div>
    <div class="row">
        {%for benefit in site.data[page.language].benefits%}
      <div class="col-lg-6 col-md-6">
        <div
          class="single-card card-style-one mt-30 aos-init aos-animate"
          data-aos="fade-up"
          data-aos-duration="1000"
          data-aos-delay="0"
        >
          <a
            href="#"
          >
            <div class="card-image">
              <i class={{benefit.icon}}></i>
            </div>
            <div class="card-content text-center">
              <h4 class="card-title">{{benefit.title}}</h4>
              <p class="text">{{benefit.subtitle}}</p>
            </div>
          </a>
        </div>
      </div>
     {% endfor %}
    </div>
  </div>
</section>
