<!-- Accordion FAQ -->
{% assign faq = site.data[page.language].texts | where:"name","faq_text" %}
<section id="faq" class="faq about-six mb-100">
    
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="faq-content mt-45">
            <div class="faq-title">
              <h6 class="sub-title"></h6>
              <h2 class="title">
                {{faq.first.value}}<br />
              </h2>
            </div>
            <div class="faq-accordion">
              <div class="accordion" id="accordionExample">
                {%for faq in site.data[page.language].faqs%}
                
                    <div class="card">
                        <div class="card-header" id="{{faq.id}}">
                          <a
                            href="#"
                            data-toggle="collapse"
                            data-target="#{{faq.target}}"
                            aria-expanded="false"
                            aria-controls="{{faq.target}}"
                            class="collapsed"
                            >{{faq.question}}</a
                          >
                        </div>
                        <div
                          id="{{faq.target}}"
                          class="collapse"
                          aria-labelledby="{{faq.id}}"
                          data-parent="#accordionExample"
                          style=""
                        >
                          <div class="card-body">
                            <p class="faq-text">
                              {{faq.answer}}
                            </p>
                          </div>
                        </div>
                      </div>
                
                {%endfor%}
               
                </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="faq-image mt-50">
            <img src="../assets/images/about/faq.jpg" alt="faq" />
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Accordion Ends Here -->