<section id="service" class="services-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-title pb-10">
                    <h4 class="title">Made for </h4>
                    <p class="text">People who wants to save time, money & love nature by designing and managing entire agreement process on the fly. Satisfaction guaranteed!</p>
                </div> <!-- section title -->
            </div>
        </div> <!-- row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-md-6">
                        <div class="services-content mt-40 d-sm-flex">
                            <div class="services-icon">
                                <i class="lni-bolt"></i>
                            </div>
                            <div class="services-content media-body">
                                <h4 class="services-title">Efficient</h4>
                                <p class="text">Create secure and intuitive e-signature workflows on any device, track the status of documents right in your account, build online fillable forms – all within a single solution.</p>
                            </div>
                        </div> <!-- services content -->
                    </div>
                </div> <!-- row -->
                <div class="row">
                    <div class="col-md-6">
                    <div class="services-content mt-40 d-sm-flex">
                        <div class="services-icon">
                            <i class="lni-bar-chart"></i>
                        </div>
                        <div class="services-content media-body">
                            <h4 class="services-title">Trust</h4>
                            <p class="text">EzySign is compliant with the industry-leading security standards ensuring your documents are signed, shared and stored with multiple levels of protection.</p>
                        </div>
                    </div> <!-- services content -->
                </div>
            </div>
            </div> <!-- row -->
        </div> <!-- row -->
    </div> <!-- conteiner -->
    <div class="services-image d-lg-flex align-items-center">
        <div class="image">
            <img src="assets/images/services.jpg" alt="Services">
        </div>
    </div> <!-- services image -->
</section>

<!--====== SERVICES PART ENDS ======-->
