{% assign language_switch_text = site.data[page.language].texts | where:"name","lang_switch_text" %}
<section class="footer-area footer-five footer-bark-five ">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="footer-logo text-center">
          <a class="mt-30" href="index.html"
            ><img src="../assets/images/logo.svg" alt="Logo"
          /></a>
        </div>
        <!-- footer logo -->
        <ul class="social text-center mt-60">
          <li>
            <a href="https://facebook.com/ezy-Sign-104001811114537" title="EzySign | facebook"
              ><i class="lni-facebook-filled"></i
            ></a>
          </li>
        </ul>
        <div class=" text-center mt-20">
          <p class="text">
            {{language_switch_text.first.value}}
          </p>
        </div>
        <ul class="social text-center ">
          {% for lang in site.languageNames %}
          
          <li> <a href="{{lang.root_url}}" title="{{ lang.name }}">{{ lang.icon }}</a></li>
          
          {%endfor%}
          
        </ul>
        <!-- social -->
        <div class="footer-support text-center">
          <span class="number">+6591077260</span>
          <span class="number">+959443102852</span>
          <span class="mail">hello@ezysign.cc</span>
        </div>
        <!-- <div class="footer-app-store text-center">
                  <ul>
                      <li><a href="#"><img src="assets/images/app-store.png" alt="app"></a></li>
                      <li><a href="#"><img src="assets/images/google-play.png" alt="play"></a></li>
                  </ul>
              </div> -->
        <div class="copyright text-center mt-35">
          <p class="text">
            Copyright © {{"now" | date: "%Y"}} EzySign. All Rights Reserved
          </p>
        </div>
        <!--  copyright -->
      </div>
    </div>
    <!-- row -->
  </div>
  <!-- container -->
</section>
